@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@theme {
  --color-brand-purple: #3a1c58;
  --color-brand-green: #76c801;

  --font-inter: 'Inter', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-bangla: 'Hind Siliguri', sans-serif;
}

/* style.css ba index.css-e thakbe */
li a.active {
  color: #67a902;
  padding-bottom: 5px;
  border-bottom: 2px solid #67a902;
}
